 {% extends 'base.html' %} {% block inputs %} {%load static%}
<div id="lloginMain" style="width:100%;align-items:center;justify-content:center;margin-top:2%;display:flex;flex-wrap: wrap;">
    <div id="mediaContainer" style="margin-right:5%;height:70vh">
        <div id=trianguloBaixo>
        </div>
        <form id="contactForm" style="display: none;position:relative;bottom:90%;left: 14.5%;width: 70%;" method="get">
            <h6 id="letus" style="font-size:2.5vw">Let us know what you want to say!</h6>
            <div class="form-group">
                <p style="font-size:12px">Email:</p>
                <div class="input-group sm-3">
                    <input id="eid" type="text" style=" height:5vh;background-color:#282828;" class="form-control input-sm" id="apower" name="emailend" required name="price" min="0" value="" step=".01">
                </div>
            </div>
            <div class="form-group">
                <p style="font-size:12px">Message:</p>
                <div class="input-group sm-3" style="">
                    <textarea id="mid" style="height:20vh;background-color:#282828;" class="form-control rounded-0" name="emailtext" id="exampleFormControlTextarea1" rows="5" required></textarea>
                </div>
            </div>

            <button style="position:absolute;right: 0%;" class="btn btn-dark float-sm-left" type="submit" name="mybtn" value="cal">Send</button>
        </form>

        <p style="left: -10px;position: relative;bottom: 250px;background-color:#282828;border-top: 20px solid #282828;border-left: 30px solid #282828;border-right: 20px solid #282828;border-bottom: 20px solid #282828" id="description">
            Scrumban helps you organizing your tasks. <br> Create projects, share them with partners and keep your tasks up to date.
        </p>
    </div>
    <div id="llogin" style="position:relative;top:-60px;height:360px;width:300px;background-color: #f8f9fa;">
        <div style="margin: 20px 25px 0px 25px;" class="cont">
            <div id="sb2cont" style="height:65px;">
                <div id="kanbanid2" class="kanbanid2 kanban2">
                    <div id="square0id" class="square0id2 square0static staticsquare"></div>
                    <div id="square1id" class="square1id2 square1static staticsquare">
                    </div>
                    <div id="square2id" class="square2id2 square2static staticsquare">
                    </div>
                    <div id="square3id" class="square3id2 square3static staticsquare">
                    </div>
                </div>
                <p class="scrubantxt" style="top:8%;position:absolute;left:32%;display:none;text-align:center;font-size:20px;color:black">Scrumban</p>
            </div>
            <div id="textologin">
                <h5 style="text-align:center;font-size:12px">Sign in</h5>
                <p style="text-align:center;font-size:12px">using your Scrumban account</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group username">
                    <label style="color:black;font-size:15px" for="apower">Username</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-user transparent"></i>
                        </div>
                        <input type="text" class="form-control left-border-none" name="nome" required>
                    </div>
                </div>

                <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
                    <button id="butao1" class="buttom1 btn btn-dark" type="button" name="log" value="log">Next</button>
                    <button id="butao2" class="buttom2 btn btn-dark" type="submit" name="log" value="log"><spam class="txtSp"style="color:black">Create account</spam></button>
                </div>
                <br>
            </form>
        </div>
        <div style="display:none;margin: 30px 35px 30px 35px;" class="cont2">
            <div id="sb2cont" style="height:65px;">
                <div id="kanbanid2" class="kanbanid2 kanban2">
                    <div id="square0id" class="square0id2 square0static staticsquare"></div>
                    <div id="square1id" class="square1id2 square1static staticsquare">
                    </div>
                    <div id="square2id" class="square2id2 square2static staticsquare">
                    </div>
                    <div id="square3id" class="square3id2 square3static staticsquare">
                    </div>
                </div>
                <p class="scrubantxt" style="top:8%;position:absolute;left:32%;display:none;text-align:center;font-size:20px;color:black">Scrumban</p>
            </div>
            <div id="textologin">
                <h5 style="text-align:center;font-size:12px">Sign in</h5>

            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label style="color:black" for="apower">Password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-key transparent"></i>
                        </div>
                        <input type="password" class="form-control left-border-none" name="senha" required>
                    </div>
                </div>
                <div style="position: relative;top: -5px;">
                    <div style=display:flex>
                        <i style="margin-right:5px;color:black;font-size:17px;" class="fas fa-question-circle"></i>
                        <a style="margin-right:5px;color:black;font-size:12px;" href="{% url 'ps' %}" id="fpass">Forgot my password</a>
                    </div>
                    <spam style="color:red;display:{{errorLogin}};font-size:12px">
                        wrong password or login
                    </spam>
                </div>

                <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
                    <button id="butao3" class="buttom3 btn btn-dark" type="button" name="log" value="log">Sign in</button>
                    <button id="butao4" class="buttom4 btn btn-dark" type="button" name="log" value="log"><spam class="txtSp"style="color:black">&larr;</spam></button>
                </div>
                <br>
            </form>

        </div>

    </div>


</div>
<br>
<style>
    body {}
    
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: black;
    }
    
    .kanban2 {
        display: flex;
        margin-left: 18.2%;
    }
    
    .square0static {
        top: -20px;
        left: -20px;
        background-color: #f8f9fa;
    }
    
    .square1static {
        top: 0px;
        left: 0px;
        background-color: red;
    }
    
    .square2static {
        top: 0px;
        left: 0px;
        background-color: yellow;
    }
    
    .square3static {
        top: 0px;
        left: 0px;
        background-color: green
    }
    
    .staticsquare {
        width: 20px;
        height: 20px;
        margin: 5px;
        position: relative;
        transition: all 2s ease
    }
    
    .animate1static2 {
        top: 30px;
        left: 30px;
        background-color: yellow;
        transition: all 2s ease
    }
    
    .animate11static2 {
        top: 0px;
        left: 0px;
        background-color: red;
        transition: all 2s ease
    }
    
    .animate13static2 {
        top: 0px;
        transition: all 2s ease
    }
    
    .animate31static2 {
        top: 0px !important;
        transition: all 2s ease;
    }
    
    .animate32static2 {
        opacity: 0;
        background-color: #f8f9fa;
        left: 30px;
        transition: all 2s ease
    }
    
    .animate2static2 {
        top: 30px;
        left: 30px;
        background-color: green;
        transition: all 2s ease
    }
    
    .animate0static2 {
        top: 0px;
        left: 30px;
        background-color: red;
        transition: all 2s ease
    }
    
    .animate22static2 {
        top: 0px;
        left: 0px;
        background-color: yellow;
        transition: all 2s ease
    }
    
    @media only screen and (max-width: 900px) {
        #lloginMain {
            flex-direction: column-reverse !important;
        }
        #llogin {
            position: relative !important;
            left: -10px !important;
            width: 270px !important;
            position: relative !important;
            top: 0px !important;
        }
        #letus {
            font-size: 16px !important;
        }
        #trianguloBaixo {
            border-width: 350px 0 0 75vw !important;
            margin-top: 40px;
        }
        #description {
            font-size: 3vw !important;
        }
        #mid {
            height: 100px !important;
        }
        #eid {
            height: 20px !important;
        }
        #contactForm {
            bottom: 320px !important;
        }
        #mediaContainer {
            height: 100%!important;
        }
    }
    
    #trianguloBaixo {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 65vh 0 0 55vw;
        border-color: transparent transparent transparent #f8f9fa;
        text-align: center;
        vertical-align: middle;
        transition: 3s ease;
        transform: rotateY(0);
    }
    
    #description {
        font-size: 1.5vw;
        color: white;
    }
    
    .buttom1,
    .buttom3 {
        width: 200px;
        border-radius: 70px;
        margin-bottom: 15px;
    }
    
    .buttom2,
    .buttom4 {
        width: 200px;
        border-radius: 70px;
        margin-bottom: 15px;
        background-color: white;
        border-width: thin;
        border-color: #282828;
    }
    
    #llogin {
        margin-top: 75px;
        border-radius: 50px;
    }
    
    .kanban {
        display: flex;
        position: absolute;
        right: 70px;
    }
    
    #logoName {
        position: absolute;
        right: 70px;
    }
</style>
<script>
    let break1 = true;
    let voltar = false;
    let element = document.querySelector('.cont');
    let element2 = document.querySelector('.cont2');
    element.addEventListener('animationend', () => {
        console.log(break1, "break");
        console.log(voltar, "voltar");
        if (!voltar) {
            $(element).hide();
            $(element2).removeClass('animate__animated');
            $(element2).removeClass('animate__zoomInLeft');
            $(element2).removeClass('animate__zoomOutLeft');
            $(element2).removeClass('animate__zoomInRight');
            $(element2).removeClass('animate__zoomOutRight');
            element2.classList.add('animate__animated', 'animate__zoomInRight');
            $(element2).show();
        } else {
            console.log(voltar, "voltar  in");
            if (break1) {
                break1 = false;
                console.log(break1, "break in");
                //element.classList.add('animate__animated', 'animate__zoomInRight');
            }
        }
    });
    element2.addEventListener('animationend', () => {
        console.log(voltar, "voltar out");
        if (voltar) {
            $(element2).hide();
            console.log(voltar, "voltarin");
            break1 = true;

            $(element).removeClass('animate__animated');
            $(element).removeClass('animate__zoomInLeft');
            $(element).removeClass('animate__zoomOutLeft');
            $(element).removeClass('animate__zoomInRight');
            $(element).removeClass('animate__zoomOutRight');
            element.classList.add('animate__animated', 'animate__zoomInLeft')
            $(element).show();
        }
    })
    $(".buttom2").hover(function() {
        $(".txtSp").css("color", "white")
    }, function() {
        $(".txtSp").css("color", "black")
    })
    $(".buttom4").hover(function() {
        $(".txtSp").css("color", "white")
    }, function() {
        $(".txtSp").css("color", "black")
    })
    $(".buttom1").click(function() {
        voltar = false;
        $(element).removeClass('animate__animated');
        $(element).removeClass('animate__zoomInLeft');
        $(element).removeClass('animate__zoomOutLeft');
        $(element).removeClass('animate__zoomInRight');
        $(element).removeClass('animate__zoomOutRight');
        element.classList.add('animate__animated', 'animate__zoomOutLeft');


    })

    function contactclick() {
        if (screen.width <= 900) {
            document.getElementById("lloginMain").style.setProperty('flex-direction', 'column', 'important');
        }
        $("#trianguloBaixo").css("transform", "rotateZ(180deg)");
        $("#description").fadeOut();
        setTimeout(timeout3 = () => {
            $("#contactForm").fadeIn();
            $("#trianguloBaixo").css("border-color", "#f8f9fa transparent transparent #f8f9fa");
            if (screen.width <= 900) {
                document.getElementById("llogin").style.setProperty("top", "-200px", "important");
            }
        }, 3000);
    };
    $("#Home").click(async function() {
        $("#Home").hide();
        $("#contactId").hide();
        await homeclick();
        setTimeout(() => {
            $("#Home").show();
            $("#contactId").show();
        }, 6000);
    })
    $("#contactId").click(async function() {
        $("#Home").hide();
        $("#contactId").hide();
        await contactclick();
        setTimeout(() => {
            $("#Home").show();
            $("#contactId").show();
        }, 6000);
    })

    function homeclick() {
        $("#contactForm").hide();
        if (screen.width <= 900) {
            document.getElementById("llogin").style.setProperty("top", "0", "important");
            document.getElementById("lloginMain").style.setProperty('flex-direction', 'column-reverse', 'important');
        }
        $("#trianguloBaixo").css("border-left-width", "0vw");
        setTimeout(timeout1 = () => {
            console.log("in")
            $("#trianguloBaixo").css("transform", "rotateZ(360deg)");
            $("#trianguloBaixo").css("border-left-width", "");
            $("#trianguloBaixo").css("border-width", "65vh 0 0 55vw;");
            $("#trianguloBaixo").css("border-color", "transparent transparent transparent #f8f9fa");
        }, 3000);
        setTimeout(timeout2 = () => {
            $("#description").fadeIn();
        }, 6000)
    };
    $(".buttom4").click(function() {
        voltar = true;
        element2.classList.add('animate__animated', 'animate__zoomOutRight');
    })
</script>
<script>
    setInterval(function() {
        $(".scrubantxt").fadeOut(300);
        $(".square1id2").removeClass("animate13static2");
        $(".square2id2").removeClass("animate2static2");
        $(".square0id2").removeClass("animate0static2");
        $(".square1id2").removeClass("animate1static2");
        $(".square2id2").removeClass("animate31static2");
        $(".square3id2").removeClass("animate32static2");
        $(".kanbanid2").fadeIn(300);
        setTimeout(function() {
            $(".square1id2").addClass("animate1static2");
        }, 0);
        setTimeout(function() {
            $(".square1id2").addClass("animate13static2");
            $(".square2id2").addClass("animate2static2");
            $(".square0id2").addClass("animate0static2");
        }, 2000);
        setTimeout(function() {
            $(".square2id2").addClass("animate31static2");
            $(".square3id2").addClass("animate32static2");
        }, 4000);
        setTimeout(function() {
            $(".kanbanid2").fadeOut();
            $(".scrubantxt").fadeIn(800);
        }, 6000);
    }, 8000);
</script>
{% endblock %}